transformers
sentence-transformers
faiss-cpu
unstructured
pypdf
python-docx
python-pptx
pandas
dotenv
langchain-core
pymupdf
streamlit
langchain
langchain-community
langchain-huggingface
langchain-groq
groq
pymupdf
python-dotenv

